[submodule "Sessions/09/lib/fmt"]
	path = Sessions/09/lib/fmt
	url = git@github.com:afborchert/fmt.git
[submodule "Quiz/02/lib/fmt"]
	path = Quiz/02/lib/fmt
	url = git@github.com:afborchert/fmt.git
[submodule "Sessions/10/lib/fmt"]
	path = Sessions/10/lib/fmt
	url = git@github.com:afborchert/fmt.git
[submodule "Sessions/13/fmt"]
	path = Sessions/13/fmt
	url = git@github.com:afborchert/fmt.git
